@model IEnumerable<Innovation_Ahead.CAR>

@{
    ViewBag.Title = "Customer";
}

<h2>Customer</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<p>
    @Html.DropDownList("filter", ViewBag.filter as SelectList)
</p>

